*{
padding: 0;
margin: 0;
font-family: century gothic;
text-align: center;
}

.met{
    float:right;
    width:43% ;
    height:43%;
}
.ud{
    padding: 10px 10px;
    float:left;
    width:38% ;
    height:38%;
}

form {

    padding: 10px 10px;
    
    background-color: #ededed;
    margin: calc(15% + 100px);
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.preguntas{

    text-align: left;
    margin-bottom: 3%;
}

h1{
padding: 12px;
color:#000;
text-align: center;
}

p{
   padding: 10px;
   color:#444;
}

label {
    display: block;
    margin: 1% 0% 1%; /* 10px arriba, 3% izquierda y derecha, 1em abajo */
    text-align: left;
    font-weight: bold;
  }

ul{
    list-style: none;   
} 

li{
    text-align: left;
} 


input[type="number"] {
    border: none;
    outline: none;
    background-color: #a5dffa;
    border-radius: 10px;
    font-size:16px;
    width: 35px;
    text-align: left;
    margin: 0.3% 0% 0.3%; /* 10px arriba, 3% izquierda y derecha, 1em abajo */
  }

  input[type="radio"] {
 
    text-align: left;
    
  }


input[type='submit']{
background-color:rgb(42, 174, 235);
color: #fff;
width: calc(30% - 20px);

margin: 1% 10%;
margin-top:12px;
border:none;
font-size:16px;
}



select {
    margin-bottom: 8px;
    outline: 0;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;
  }

.ok{
text-align:center;
width:100%;
padding: 10px;
background-color:#4e8;
color:#fff;
}
.bad{
text-align: center;
width: 100%;
padding: 10px;
background-color: #a22;
color: #fff;
}

.clear{
text-align: center;
width: 100%;
padding: 10px;
background-color: #fff;
color: #fff;
}




